# Rust & Cargo
/Macrocli/target/
/Macrocli/Cargo.lock

# Node.js
/Macrocli/Webapp/node_modules/
/Macrocli/Webapp/dist/

# IDE & Editor specific
.vscode/
.idea/
.claude/
docs/
# OS-specific
.DS_Store

# Project Backups
/Macrocli/macropad_backups/

# User-specific configurations (keep only default templates)
Macrocli/macropad_configs/config.ron
Macrocli/macropad_configs/k8850.ron
Macrocli/macropad_configs/oldthree_layer_final.ron
Macrocli/macropad_configs/three_layer_final.ron
