(
    device: (
        orientation: Normal,
        rows: 1,
        cols: 3,
        knobs: 1,
    ),
    layers: [
        (
            buttons: [
                [(delay: 0, mapping: "b,u,t,t,o,n,1,l,a,y,e,r,0"), (delay: 0, mapping: "b,u,t,t,o,n,2,l,a,y,e,r,0"), (delay: 0, mapping: "b,u,t,t,o,n,3,l,a,y,e,r,0")],
            ],
            knobs: [
                (ccw: (delay: 0, mapping: "k,n,o,b,1,l,e,f,t,l,a,y,e,r,0"), press: (delay: 0, mapping: "k,n,o,b,1,p,r,e,s,s,l,a,y,e,r,0"), cw: (delay: 0, mapping: "k,n,o,b,1,r,i,g,h,t,l,a,y,e,r,0")),
            ],
        ),
    ],
)
